node_modules

# Build outputs
.next
out
dist
build
coverage

.env
.env.*
*.log

package-lock.json

*.min.js
*.min.css
*.map
*.d.ts

public
static

.idea
.vscode
.DS_Store

storybook-static

**/__snapshots__/**

*.pdf
*.zip
